<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="contact-section">
    <section class="section contact" id="contact">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">Get In Touch</h2>
                <p class="section-subtitle">
                    Have a project in mind or want to collaborate? Lets talk!
                </p>
            </div>
            <div class="contact-container">
                <div class="contact-info">
                    <h3 class="contact-heading">Let's Build Something Amazing Together</h3>
                    <p class="contact-text">
                        I'm always open to discussing new projects, creative ideas or opportunities to be part of your vision. Feel free to reach out using any of the methods below.
                    </p>
                    <div class="contact-links">
                        <a href="tel:+918948887079" class="contact-link">
                            <div class="contact-link-icon">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div class="contact-link-text">
                                <span class="contact-link-level">Email</span>
                                <span class="contact-link-value">javacom894@gmail.com</span>
                            </div>
                        </a>
                        <a href="mailto:javacom894@gmail.com" class="contact-link">
                            <div class="contact-link-icon">
                                <i class="fas fa-phone"></i>
                            </div>
                            <div class="contact-link-text">
                                <span class="contact-link-level">Phone</span>
                                <span class="contact-link-value">+918948887079</span>
                            </div>
                        </a>
                        <a href="https://www.linkedin.com/in/satish-8s/" target="_blank" class="contact-info">
                            <div class="contact-link-icon">
                                <i class="fab fa-linkedin-in"></i>
                            </div>
                            <div class="contact-link-text">
                                <span class="contact-link-level">LinkedIn</span>
                                <span class="contact-link-value">Satish Kumar</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</th:block>
</html>