<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="hero-section">
    <section class="hero" id="home">
        <div class="hero-background"></div>
        <div class="hero-content">
            <div class="hero-greeting">Hi there, I,m</div>
            <h1 class="hero-title"><span class="gradient-text">Satish Prajapati</span></h1>
            <h2 class="hero-subtitle">Developer , Mentor, Teacher & Youtuber</h2>
            <p class="hero-description">
                Passionate about solving complex problems through code and equally devoted to teaching and mentoring, I bridge the worlds of software engineering and education to inspire innovation and growth.
            </p>
            <div class="hero-buttons">
                <a href="#projects" class="btn btn-primary">
                    View My work <i class="fas fa-arrow-right"></i>
                </a>
                <a href="#contact" class="btn btn-outline">
                    Get In Touch <i class="fas fa-arrow-right"></i>
                </a>

            </div>
            <div class="social-links">
                <a href="tel:+918948887079" class="social-link">
                    <i class="fas fa-phone-alt"></i>
                </a>
                <a href="email:javacom894@gmail.com" class="social-link">
                    <i class="fas fa-envelope"></i>
                </a>
                <a href="https://linkedin.com/in/satish-8s" target="_blank" class="social-link">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/sm48-ai" target="_blank" class="social-link">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
        <div class="hero-visual">
            <div class="hero-visual-inner">
                <div class="hero-visual-frame">
                    <img src="/images/profile1.png" alt="profile" style="width:90%; height:90%; object-fit: cover; border-radius:15px">
                </div>
                <div class="hero-visual-frame"></div>
                <div class="hero-visual-frame"></div>
            </div>
            <div class="hero-stats stats-1">
                <div class="hero-stats-icon">
                    <i class="fas fa-code"></i>
                </div>
                <div class="hero-stats-text">
                    <div class="hero-stats-level">Developer Java Full Stack</div>
                    <div class="hero-stats-value">IBM</div>
                </div>
            </div>

            <div class="hero-stats stats-2">
                <div class="hero-stats-icon">
                    <i class="fas-solid fa-chalkboard-user"></i>
                </div>
                <div class="hero-stats-text">
                    <div class="hero-stats-level">Mentor</div>
                    <div class="hero-stats-value">TOPMATE</div>
                </div>
            </div>

            <div class="hero-stats stats-3">
                <div class="hero-stats-icon">
                    <i class="fa-solid fa-video"></i>
                </div>
                <div class="hero-stats-text">
                    <div class="hero-stats-level">Content Creator</div>
                    <div class="hero-stats-value">Youtube/Udemy</div>
                </div>
            </div>
        </div>
        <div class="scroll-indicator">
            <span>Scroll Down</span>
            <div class="scroll-indicator-line">
                <div class="scroll-indicator-dot"></div>
            </div>
        </div>
    </section>
</th:block>
</html>