<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="projects-section">
    <section class="section projects" id="projects">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">My Work</h2>
                <p class="section-subtitle">
                    Explore some of my recent videos, courses on youtube and Udemy
                </p>
            </div>
            <div class="projects-container">
                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/thumbnail6.jpg" alt="Work Experience">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">Spring Security</span>
                            <span class="project-tag">Data Jpa</span>
                            <span class="project-tag">MySQL</span>
                            <span class="project-tag">AWS</span>
                            <span class="project-tag">Mongo DB</span>
                            <span class="project-tag">Postman</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Build REST APIs with Spring and Spring Boot</h3>
                        <p class="project-description">
                            In this course, you will learn how to create production grade REST API that connects to the MySQL database through JPA/Hibernate
                        </p>
                            <div class="project-links">
                               <a href="https://github.com/sm48-ai/Resume-Builder-Application.git" class="project-link" target="_blank">
                                   <i class="fab fa-github"></i>View Code
                               </a>
                               <a href="" class="project-link" target="_blank">
                                    Join Course <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </p>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/thumbnail1.jpg" alt="Thumbnail1">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">React</span>
                            <span class="project-tag">Tailwind css</span>
                            <span class="project-tag">MySQL</span>
                            <span class="project-tag">Clerk</span>
                            <span class="project-tag">full Stack</span>
                            <span class="project-tag">Postman</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">AI Background Remover</h3>
                        <p class="project-description">
                            In this video, learn how to build a powerful AI-powered Background Remover SaaS Application using React, Spring Boot, and Razorpay integration.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/sm48-ai/UserManagementApplication.git" class="project-link" target="_blank">
                                <i class="fab fa-github"></i>View Code
                            </a>
                            <a href="" class="project-link" target="_blank">
                                Join Course <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                        </p>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/thumbnail2.jpg" alt="Work Experience">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">Boot Strap</span>
                            <span class="project-tag">React</span>
                            <span class="project-tag">MySQL</span>
                            <span class="project-tag">Intellij Idea</span>
                            <span class="project-tag">Mongo DB</span>
                            <span class="project-tag">Postman</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Online Food Delivery Application</h3>
                        <p class="project-description">
                            In this video, we will build full stack online food delivery application for a small restruant business with admin panel that manages the food and orders.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/sm48-ai/Resume-Builder-Application.git" class="project-link" target="_blank">
                                <i class="fab fa-github"></i>View Code
                            </a>
                            <a href="" class="project-link" target="_blank">
                                Join Course <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                        </p>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/thumbnail3.jpg" alt="Work Experience">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">Spring Security</span>
                            <span class="project-tag">React</span>
                            <span class="project-tag">MySQL</span>
                            <span class="project-tag">Bootstrap</span>
                            <span class="project-tag">Mongo DB</span>
                            <span class="project-tag">Postman</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Freelance Retail Billing Software</h3>
                        <p class="project-description">
                            In this video, we will build a freelance retail product for one of the electronics business that automate their billing system.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/sm48-ai/Resume-Builder-Application.git" class="project-link" target="_blank">
                                <i class="fab fa-github"></i>View Code
                            </a>
                            <a href="" class="project-link" target="_blank">
                                Join Course <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                        </p>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/thumbnail4.jpg" alt="Work Experience">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">Spring Security</span>
                            <span class="project-tag">Data Jpa</span>
                            <span class="project-tag">MySQL</span>
                            <span class="project-tag">AWS</span>
                            <span class="project-tag">Mongo DB</span>
                            <span class="project-tag">Postman</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Authify by Spring Security</h3>
                        <p class="project-description">
                            In this video, learn how we can secure the REST APIs using Spring security and JWT token that connects to the MySQL database
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/sm48-ai/Resume-Builder-Application.git" class="project-link" target="_blank">
                                <i class="fab fa-github"></i>View Code
                            </a>
                            <a href="" class="project-link" target="_blank">
                                Join Course <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                        </p>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/thumbnail5.jpg" alt="Thumbnail5">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">Spring Security</span>
                            <span class="project-tag">Data Jpa</span>
                            <span class="project-tag">MySQL</span>
                            <span class="project-tag">AWS</span>
                            <span class="project-tag">Mongo DB</span>
                            <span class="project-tag">Postman</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Spring Boot - Todo List</h3>
                        <p class="project-description">
                            In this video, you will learn how to create simple yet powerful todo application with beautiful UI design.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/sm48-ai/Resume-Builder-Application.git" class="project-link" target="_blank">
                                <i class="fab fa-github"></i>View Code
                            </a>
                            <a href="" class="project-link" target="_blank">
                                Join Course <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </section>

</th:block>
</html>